<footer class="footer">

    <div class="container container_14">
        <div class="d-flex justify-content-between margin_b">
            <div>
                <ul class="footer_menu justify-content-between align-items-center pt_60 ">
                    <li><a href="./index.html">首頁</a></li>
                    <li><a href="#">系列鏡框</a></li>
                    <li><a href="#">門市據點</a></li>
                    <li><a href="#">部落格</a></li>
                    <li><a href="./faq.html">常見問題</a></li>
                </ul>

                <div class="d-flex data first align-items-center">
                    <span class="material-icons-outlined " >call</span>
                    <p>0800-000-000</p>
                </div>
                <div class="d-flex data second align-items-center">
                    <span class="material-icons-outlined ">mail</span>
                    <p>glasses@business.com</p>
                </div>
            </div>
    
            <ul class="d-flex footer_icon">
                <li><a href="#"><img src="../assets/images/ic-social-fb.png" alt=""></a></li>
                <li><a href="#"><img src="../assets/images/ic_social_ig.png" alt=""></a></li>
                <li><a href="#"><img src="../assets/images/ic_social_line.png" alt=""></a></li>
            </ul>
        </div>

        <hr>

        <div class="d-flex mb_f-column justify-content-between ">
            <p class="copyright">Copyright © 2020 Glasses.All rights reserved.</p>

            <div class="d-flex mb_f-column second" >
                <p class="mb_r">隱私權政策</p>
                <p class="mb_l">服務條款</p>
            </div>
        </div>

    </div>

</footer>