<header class="header">
    <div class="container d-flex justify-content-between header_div">
        <div>
            <a href="./index.html">
                <img class="header_logo" src="../assets/images/logo-new_工作區域 1.png" alt="" >

            </a>

        </div>
        <ul class="d-flex f-wrap justify-content-between align-items-center fs-20 mb-fs-16 header_ul">
            <li><a class="header_a" href="#">系列鏡框</a></li>
            <li><a class="header_a" href="#">門市據點</a></li>
            <li><a href="#">部落格</a></li>
            <li><a href="./faq.html">常見問題</a></li>
        </ul>
    </div>
</header>